{% extends 'usami/base.html' %}

{% load staticfiles %}

{% block title %}Vocab{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-md-5">
      <a href="{% url 'home' %}"><img id="banner" src="{% static 'usami/img/59452194_p0.png' %}"></a>
      {#      <a href="{% url 'home' %}"><img id="banner" src="{% static 'usami/img/cat_reading.png' %}"></a>#}
    </div>
    <div class="col-md-7">
      <h1><a href="https://github.com/pauljxtan/usami" target="_blank">GitHub</a></h1>
      <h1>TODO</h1>
      <ul>
        <li>Keep tab open after edit</li>
        <li>Filter on category (etc.)</li>
        <li>Stats (#/category, etc.)</li>
        <li>Toggle phonetic on/off</li>
        <li>Some sort of personal "difficulty" score for each</li>
      </ul>
    </div>
  </div>

  {% if messages %}
    {% for message in messages %}
      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-{{ message.tags }}">
            <span class="lead">{{ message }}</span>
          </div>
        </div>
      </div>
    {% endfor %}
  {% endif %}

  <!-- TODO: Show active button(s) -->
  <div class="row">
    <div class="col-md-12">
{#      <button class="btn btn-primary btn-collapse" data-toggle="collapse" data-target="#collapse-fr">Français</button>#}
      <button class="btn btn-primary btn-collapse" data-toggle="collapse" data-target="#collapse-jp">日本語</button>
      <button class="btn btn-primary btn-collapse" data-toggle="collapse" data-target="#collapse-zh">中文</button>
    </div>
  </div>

{#  <div id="collapse-fr" class="row collapse">#}
{#    <div class="row">#}
{#      <div class="col-md-12">#}
{#        <p class="lead">Coming soon...</p>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}

  <div id="collapse-jp" class="collapse {% if active_lang == 'jp' %}in{% endif %}">

    <div class="row">
      <div class="col-md-12">
        <p class="lead">{{ total_nouns }} nouns ・ {{ total_verbs }} verbs ・ {{ total_adjectives }} adjectives ・ {{ total_adverbs }} adverbs ・ {{ total_miscs }} misc</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-tabs">
          <li {% if active_pos == 'nouns' %}class="active"{% endif %}><a href="#tab-nouns" data-toggle="tab">Nouns</a></li>
          <li {% if active_pos == 'verbs' %}class="active"{% endif %}><a href="#tab-verbs" data-toggle="tab">Verbs</a></li>
          <li {% if active_pos == 'adjectives' %}class="active"{% endif %}><a href="#tab-adjectives" data-toggle="tab">Adjectives</a></li>
          <li {% if active_pos == 'adverbs' %}class="active"{% endif %}><a href="#tab-adverbs" data-toggle="tab">Adverbs</a></li>
          <li {% if active_pos == 'miscs' %}class="active"{% endif %}><a href="#tab-misc" data-toggle="tab">Misc</a></li>
        </ul>
      </div>
    </div>

    <div class="tab-content">

      <div id="tab-nouns" class="tab-pane fade {% if active_pos == 'nouns' %}in active{% endif %}">

        <div class="row">
          <div class="col-md-12">
            <form class="form-inline" action="{% url 'add_noun_jp' %}" method="post">
              {% csrf_token %}
              <div class="form-group">
                <label for="id_vocab">Vocab:</label>
                <input class="form-control" id="id_vocab" maxlength="16" name="vocab" type="text" required="">
              </div>
              <div class="form-group">
                <label for="id_phonetic">Phonetic:</label>
                <input class="form-control" id="id_phonetic" maxlength="32" name="phonetic" type="text" required="">
              </div>
              <div class="form-group">
                <label for="id_english">English:</label>
                <input class="form-control" id="id_english" maxlength="32" name="english" type="text" required="">
              </div>
              <div class="form-group">
                <label for="id_category">Category:</label>
                <input class="form-control" id="id_category" maxlength="32" name="category" type="text" required="">
              </div>
              <div class="form-group">
                <input class="form-control" type="submit" value="Add">
              </div>
            </form>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <table class="table table-vocab" id="table-nouns" data-toggle="table" data-sort-name="category" data-sort-order="asc">
              <thead>
              <tr>
                <th data-field="vocab" data-sortable="true">Vocab</th>
                <th data-field="english" data-sortable="true">English</th>
                <th data-field="category" data-sortable="true">Category</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody>
              {% for noun in nouns %}
                <tr class="vocab-row vocab-row-{{ noun.0.type }}">
                  <td class="vocab vocab-vocab">{{ noun.1 | safe }}</td>
                  <td class="vocab vocab-english">{{ noun.0.english }}</td>
                  <td class="vocab vocab-category">{{ noun.0.category }}</td>
                  <td class="vocab vocab-buttons">
                    <a class="btn btn-primary" data-toggle="modal" data-target="#noun-form-{{ noun.0.id }}">Edit</a>
                    <a class="btn btn-danger" href="{% url 'delete_noun' noun.0.id %}">Delete</a>
                  </td>
                </tr>
                <div class="modal fade" id="noun-form-{{ noun.0.id }}" tabindex="-1" role="dialog"
                     aria-labelledby="noun-form-label-{{ noun.0.id }}">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="noun-form-label-{{ noun.0.id }}">Edit {{ noun.1 | safe }}</h4>
                      </div>
                      <div class="modal-body">
                        <form class="form-inline" action="{% url 'edit_noun' noun.0.id %}" method="post">
                          {% csrf_token %}
                          <div class="form-group">
                            <label for="id_vocab">Vocab:</label>
                            <input class="form-control" id="id_vocab" maxlength="16" name="vocab" type="text" required=""
                                   value="{{ noun.0.vocab }}">
                          </div>
                          <div class="form-group">
                            <label for="id_phonetic">Phonetic:</label>
                            <input class="form-control" id="id_phonetic" maxlength="32" name="phonetic" type="text" required=""
                                   value="{{ noun.0.phonetic }}">
                          </div>
                          <div class="form-group">
                            <label for="id_english">English:</label>
                            <input class="form-control" id="id_english" maxlength="32" name="english" type="text" required=""
                                   value="{{ noun.0.english }}">
                          </div>
                          <div class="form-group">
                            <label for="id_category">Category:</label>
                            <input class="form-control" id="id_category" maxlength="32" name="category" type="text" required=""
                                   value="{{ noun.0.category }}">
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>

              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

      </div>

      <div id="tab-verbs" class="tab-pane fade {% if active_pos == 'verbs' %}in active{% endif %}">

        <div class="row">
          <div class="col-md-12">
            <form class="form-inline" action="{% url 'add_verb_jp' %}" method="post">
              {% csrf_token %}
              <div class="form-group">
                <label for="id_vocab">Vocab:</label>
                <input class="form-control" id="id_vocab" maxlength="16" name="vocab" type="text" required="">
              </div>
              <div class="form-group">
                <label for="id_phonetic">Phonetic:</label>
                <input class="form-control" id="id_phonetic" maxlength="32" name="phonetic" type="text" required="">
              </div>
              <div class="form-group">
                <label for="id_english">English:</label>
                <input class="form-control" id="id_english" maxlength="32" name="english" type="text" required="">
              </div>
              <div class="form-group">
                <label for="id_category">Category:</label>
                <input class="form-control" id="id_category" maxlength="32" name="category" type="text" required="">
              </div>
              <div class="form-group">
                <label for="id_transitivity">Transitivity:</label>
                <select class="form-control" id="id_transitivity" name="transitivity" required="">
                  <option value="t">t</option>
                  <option value="i">i</option>
                </select>
              </div>
              <div class="form-group">
                <label for="id_jp_type">Jp type:</label>
                <select class="form-control" id="id_jp_type" name="jp_type" required="">
                  <option value="u">u</option>
                  <option value="r">ru</option>
                  <option value="e">ex</option>
                </select>
              </div>
              <div class="form-group">
                <input class="form-control" type="submit" value="Add">
              </div>
            </form>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <table class="table table-vocab" data-toggle="table" data-sort-name="category" data-sort-order="asc">
              <thead>
              <tr>
                <th data-field="vocab" data-sortable="true">Vocab</th>
                <th data-field="english" data-sortable="true">English</th>
                <th data-field="category" data-sortable="true">Category</th>
                <th data-field="transitivity" data-sortable="true">Transitivity</th>
                <th data-field="jp_type" data-sortable="true">Type</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              {% for verb in verbs %}
                <tr class="vocab-row vocab-row-{{ verb.0.type }}">
                  <td class="vocab vocab-vocab">{{ verb.1 | safe }}</td>
                  <td class="vocab vocab-english">{{ verb.0.english }}</td>
                  <td class="vocab vocab-category">{{ verb.0.category }}</td>
                  <td class="vocab vocab-transitivity">{{ verb.0.transitivity }}</td>
                  <td class="vocab vocab-type">{{ verb.0.jp_type }}</td>
                  <td class="vocab vocab-buttons">
                    <a class="btn btn-primary" data-toggle="modal" data-target="#verb-form-{{ verb.0.id }}">Edit</a>
                    <a class="btn btn-danger" href="{% url 'delete_verb' verb.0.id %}">Delete</a>
                  </td>
                </tr>
                <div class="modal fade" id="verb-form-{{ verb.0.id }}" tabindex="-1" role="dialog"
                     aria-labelledby="verb-form-label-{{ verb.0.id }}">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="verb-form-label-{{ verb.0.id }}">Edit {{ verb.1 | safe }}</h4>
                      </div>
                      <div class="modal-body">
                        <form class="form-inline" action="{% url 'edit_verb' verb.0.id %}" method="post">
                          {% csrf_token %}
                          <div class="form-group">
                            <label for="id_vocab">Vocab:</label>
                            <input class="form-control" id="id_vocab" maxlength="16" name="vocab" type="text" required=""
                                   value="{{ verb.0.vocab }}">
                          </div>
                          <div class="form-group">
                            <label for="id_phonetic">Phonetic:</label>
                            <input class="form-control" id="id_phonetic" maxlength="32" name="phonetic" type="text" required=""
                                   value="{{ verb.0.phonetic }}">
                          </div>
                          <div class="form-group">
                            <label for="id_english">English:</label>
                            <input class="form-control" id="id_english" maxlength="32" name="english" type="text" required=""
                                   value="{{ verb.0.english }}">
                          </div>
                          <div class="form-group">
                            <label for="id_category">Category:</label>
                            <input class="form-control" id="id_category" maxlength="32" name="category" type="text" required=""
                                   value="{{ verb.0.category }}">
                          </div>
                          <div class="form-group">
                            <label for="id_transitivity">Transitivity:</label>
                            <select class="form-control" id="id_transitivity" name="transitivity" required="">
                              <option value="t">t</option>
                              <option value="i">i</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <label for="id_jp_type">Jp type:</label>
                            <select class="form-control" id="id_jp_type" name="jp_type" required="">
                              <option value="u">u</option>
                              <option value="r">ru</option>
                              <option value="e">ex</option>
                            </select>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

      </div>

      <div id="tab-adjectives" class="tab-pane fade {% if active_pos == 'adjectives' %}in active{% endif %}">

        <div class="row">
          <div class="col-md-12">
            <form class="form-inline" action="{% url 'add_adjective_jp' %}" method="post">
              {% csrf_token %}
              <div class="form-group">
                <label for="id_vocab">Vocab:</label>
                <input class="form-control" id="id_vocab" maxlength="16" name="vocab" type="text" required="">
              </div>
              <div class="form-group">
                <label for="id_phonetic">Phonetic:</label>
                <input class="form-control" id="id_phonetic" maxlength="32" name="phonetic" type="text" required="">
              </div>
              <div class="form-group">
                <label for="id_english">English:</label>
                <input class="form-control" id="id_english" maxlength="32" name="english" type="text" required="">
              </div>
              <div class="form-group">
                <label for="id_category">Category:</label>
                <input class="form-control" id="id_category" maxlength="32" name="category" type="text" required="">
              </div>
              <div class="form-group">
                <label for="id_jp_type">Jp type:</label>
                <select class="form-control" id="id_jp_type" name="jp_type" required="">
                  <option value="i">i</option>
                  <option value="na">na</option>
                </select>
              </div>
              <div class="form-group">
                <input class="form-control" type="submit" value="Add">
              </div>
            </form>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <table class="table table-vocab" data-toggle="table" data-sort-name="category" data-sort-order="asc">
              <thead>
              <tr>
                <th data-field="vocab" data-sortable="true">Vocab</th>
                <th data-field="english" data-sortable="true">English</th>
                <th data-field="category" data-sortable="true">Category</th>
                <th data-field="jp_type" data-sortable="true">Type</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              {% for adjective in adjectives %}
                <tr class="vocab-row vocab-row-{{ adjective.0.type }}">
                  <td class="vocab vocab-vocab">{{ adjective.1 | safe }}</td>
                  <td class="vocab vocab-english">{{ adjective.0.english }}</td>
                  <td class="vocab vocab-category">{{ adjective.0.category }}</td>
                  <td class="vocab vocab-type">{{ adjective.0.jp_type }}</td>
                  <td class="vocab vocab-buttons">
                    <a class="btn btn-primary" data-toggle="modal" data-target="#adjective-form-{{ adjective.0.id }}">Edit</a>
                    <a class="btn btn-danger" href="{% url 'delete_adjective' adjective.0.id %}">Delete</a>
                  </td>
                </tr>
                <div class="modal fade" id="adjective-form-{{ adjective.0.id }}" tabindex="-1" role="dialog"
                     aria-labelledby="adjective-form-label-{{ adjective.0.id }}">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="adjective-form-label-{{ adjective.0.id }}">Edit {{ adjective.1 | safe }}</h4>
                      </div>
                      <div class="modal-body">
                        <form class="form-inline" action="{% url 'edit_adjective' adjective.0.id %}" method="post">
                          {% csrf_token %}
                          <div class="form-group">
                            <label for="id_vocab">Vocab:</label>
                            <input class="form-control" id="id_vocab" maxlength="16" name="vocab" type="text" required=""
                                   value="{{ adjective.0.vocab }}">
                          </div>
                          <div class="form-group">
                            <label for="id_phonetic">Phonetic:</label>
                            <input class="form-control" id="id_phonetic" maxlength="32" name="phonetic" type="text" required=""
                                   value="{{ adjective.0.phonetic }}">
                          </div>
                          <div class="form-group">
                            <label for="id_english">English:</label>
                            <input class="form-control" id="id_english" maxlength="32" name="english" type="text" required=""
                                   value="{{ adjective.0.english }}">
                          </div>
                          <div class="form-group">
                            <label for="id_category">Category:</label>
                            <input class="form-control" id="id_category" maxlength="32" name="category" type="text" required=""
                                   value="{{ adjective.0.category }}">
                          </div>
                          <div class="form-group">
                            <label for="id_jp_type">Jp type:</label>
                            <select class="form-control" id="id_jp_type" name="jp_type" required="">
                              <option value="i">i</option>
                              <option value="na">na</option>
                            </select>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

      </div>

      <div id="tab-adverbs" class="tab-pane fade {% if active_pos == 'adverbs' %}in active{% endif %}">

        <div class="row">
          <div class="col-md-12">
            <form class="form-inline" action="{% url 'add_adverb_jp' %}" method="post">
              {% csrf_token %}
              <div class="form-group">
                <label for="id_vocab">Vocab:</label>
                <input class="form-control" id="id_vocab" maxlength="16" name="vocab" type="text" required="">
              </div>
              <div class="form-group">
                <label for="id_phonetic">Phonetic:</label>
                <input class="form-control" id="id_phonetic" maxlength="32" name="phonetic" type="text" required="">
              </div>
              <div class="form-group">
                <label for="id_english">English:</label>
                <input class="form-control" id="id_english" maxlength="32" name="english" type="text" required="">
              </div>
              <div class="form-group">
                <label for="id_category">Category:</label>
                <input class="form-control" id="id_category" maxlength="32" name="category" type="text" required="">
              </div>
              <div class="form-group">
                <input class="form-control" type="submit" value="Add">
              </div>
            </form>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <table class="table table-vocab" data-toggle="table" data-sort-name="category" data-sort-order="asc">
              <thead>
              <tr>
                <th data-field="vocab" data-sortable="true">Vocab</th>
                <th data-field="english" data-sortable="true">English</th>
                <th data-field="category" data-sortable="true">Category</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              {% for adverb in adverbs %}
                <tr class="vocab-row vocab-row-{{ adverb.0.type }}">
                  <td class="vocab vocab-vocab">{{ adverb.1 | safe }}</td>
                  <td class="vocab vocab-english">{{ adverb.0.english }}</td>
                  <td class="vocab vocab-category">{{ adverb.0.category }}</td>
                  <td class="vocab vocab-buttons">
                    <a class="btn btn-primary" data-toggle="modal" data-target="#adverb-form-{{ adverb.0.id }}">Edit</a>
                    <a class="btn btn-danger" href="{% url 'delete_adverb' adverb.0.id %}">Delete</a>
                  </td>
                </tr>
                <div class="modal fade" id="adverb-form-{{ adverb.0.id }}" tabindex="-1" role="dialog"
                     aria-labelledby="adverb-form-label-{{ adverb.0.id }}">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="adverb-form-label-{{ adverb.0.id }}">Edit {{ adverb.1 | safe }}</h4>
                      </div>
                      <div class="modal-body">
                        <form class="form-inline" action="{% url 'edit_adverb' adverb.0.id %}" method="post">
                          {% csrf_token %}
                          <div class="form-group">
                            <label for="id_vocab">Vocab:</label>
                            <input class="form-control" id="id_vocab" maxlength="16" name="vocab" type="text" required=""
                                   value="{{ adverb.0.vocab }}">
                          </div>
                          <div class="form-group">
                            <label for="id_phonetic">Phonetic:</label>
                            <input class="form-control" id="id_phonetic" maxlength="32" name="phonetic" type="text" required=""
                                   value="{{ adverb.0.phonetic }}">
                          </div>
                          <div class="form-group">
                            <label for="id_english">English:</label>
                            <input class="form-control" id="id_english" maxlength="32" name="english" type="text" required=""
                                   value="{{ adverb.0.english }}">
                          </div>
                          <div class="form-group">
                            <label for="id_category">Category:</label>
                            <input class="form-control" id="id_category" maxlength="32" name="category" type="text" required=""
                                   value="{{ adverb.0.category }}">
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

      </div>

      <div id="tab-misc" class="tab-pane fade {% if active_pos == 'miscs' %}in active{% endif %}">

        <div class="row">
          <div class="col-md-12">
            <form class="form-inline" action="{% url 'add_misc_jp' %}" method="post">
              {% csrf_token %}
              <div class="form-group">
                <label for="id_vocab">Vocab:</label>
                <input class="form-control" id="id_vocab" maxlength="16" name="vocab" type="text" required="">
              </div>
              <div class="form-group">
                <label for="id_phonetic">Phonetic:</label>
                <input class="form-control" id="id_phonetic" maxlength="32" name="phonetic" type="text" required="">
              </div>
              <div class="form-group">
                <label for="id_english">English:</label>
                <input class="form-control" id="id_english" maxlength="32" name="english" type="text" required="">
              </div>
              <div class="form-group">
                <label for="id_category">Category:</label>
                <input class="form-control" id="id_category" maxlength="32" name="category" type="text" required="">
              </div>
              <div class="form-group">
                <input class="form-control" type="submit" value="Add">
              </div>
            </form>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <table class="table table-vocab" data-toggle="table" data-sort-name="category" data-sort-order="asc">
              <thead>
              <tr>
                <th data-field="vocab" data-sortable="true">Vocab</th>
                <th data-field="english" data-sortable="true">English</th>
                <th data-field="category" data-sortable="true">Category</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              {% for misc in miscs %}
                <tr class="vocab-row vocab-row-{{ misc.0.type }}">
                  <td class="vocab vocab-vocab">{{ misc.1 | safe }}</td>
                  <td class="vocab vocab-english">{{ misc.0.english }}</td>
                  <td class="vocab vocab-category">{{ misc.0.category }}</td>
                  <td class="vocab vocab-buttons">
                    <a class="btn btn-primary" data-toggle="modal" data-target="#misc-form-{{ misc.0.id }}">Edit</a>
                    <a class="btn btn-danger" href="{% url 'delete_misc' misc.0.id %}">Delete</a>
                  </td>
                </tr>
                <div class="modal fade" id="misc-form-{{ misc.0.id }}" tabindex="-1" role="dialog"
                     aria-labelledby="misc-form-label-{{ misc.0.id }}">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="misc-form-label-{{ misc.0.id }}">Edit {{ misc.1 | safe }}</h4>
                      </div>
                      <div class="modal-body">
                        <form class="form-inline" action="{% url 'edit_misc' misc.0.id %}" method="post">
                          {% csrf_token %}
                          <div class="form-group">
                            <label for="id_vocab">Vocab:</label>
                            <input class="form-control" id="id_vocab" maxlength="16" name="vocab" type="text" required=""
                                   value="{{ misc.0.vocab }}">
                          </div>
                          <div class="form-group">
                            <label for="id_phonetic">Phonetic:</label>
                            <input class="form-control" id="id_phonetic" maxlength="32" name="phonetic" type="text" required=""
                                   value="{{ misc.0.phonetic }}">
                          </div>
                          <div class="form-group">
                            <label for="id_english">English:</label>
                            <input class="form-control" id="id_english" maxlength="32" name="english" type="text" required=""
                                   value="{{ misc.0.english }}">
                          </div>
                          <div class="form-group">
                            <label for="id_category">Category:</label>
                            <input class="form-control" id="id_category" maxlength="32" name="category" type="text" required=""
                                   value="{{ misc.0.category }}">
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

      </div>

    </div>

  </div>

  <div id="collapse-zh" class="collapse">
    <div class="row">
      <div class="col-md-12">
        <p class="lead">Coming soon...</p>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}

  <script>
    $(document).ready(function() {
      // TODO...
    });
  </script>

{% endblock %}
