{% extends 'usami/base.html' %}

{% load staticfiles %}

{% block title %}Vocab{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-md-5">
      <a href="{% url 'home' %}"><img id="banner" src="{% static 'usami/img/59452194_p0.png' %}"></a>
      {#      <a href="{% url 'home' %}"><img id="banner" src="{% static 'usami/img/cat_reading.png' %}"></a>#}
    </div>
    <div class="col-md-7">
      <h1><a href="https://github.com/pauljxtan/usami" target="_blank">GitHub</a></h1>
      <h1>TODO</h1>
      <ul>
        <li>AJAX! (edit)</li>
        <li>Store table rows in JSON file (reduce DB overhead)</li>
        <li>Archive/unarchive "learned" vocab</li>
        <li>Filter on category (etc.)</li>
        <li>More stats</li>
        <li>Toggle phonetic on/off</li>
        <li>Some sort of personal "difficulty" score for each</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
        <div id="div-message">
          <span id="span-message" class="lead"></span>
        </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <button id="btn-collapse-jp" class="btn btn-primary btn-collapse{% if active_lang == 'jp' %} active{% endif %}" data-toggle="collapse" data-target="#collapse-jp">日本語</button>
      <button id="btn-collapse-zh" class="btn btn-primary btn-collapse" data-toggle="collapse" data-target="#collapse-zh">中文</button>
    </div>
  </div>

  <div id="collapse-jp" class="collapse {% if active_lang == 'jp' %}in{% endif %}">

    <div class="row">
      <div class="col-md-12">
        <p><span id="total-nouns">0</span> nouns (<span id="total-nouns-archived">0</span> archived) ・
          <span id="total-verbs">0</span> verbs (<span id="total-verbs-archived">0</span> archived) ・
          <span id="total-adjectives">0</span> adjectives (<span id="total-adjectives-archived">0</span> archived) ・
          <span id="total-adverbs">0</span> adverbs (<span id="total-adverbs-archived">0</span> archived) ・
          <span id="total-miscs">0</span> misc (<span id="total-miscs-archived">0</span> archived)</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-tabs">
          <li {% if active_pos == 'nouns' %}class="active"{% endif %}><a href="#tab-nouns" data-toggle="tab">Nouns</a></li>
          <li {% if active_pos == 'verbs' %}class="active"{% endif %}><a href="#tab-verbs" data-toggle="tab">Verbs</a></li>
          <li {% if active_pos == 'adjectives' %}class="active"{% endif %}><a href="#tab-adjectives" data-toggle="tab">Adjectives</a></li>
          <li {% if active_pos == 'adverbs' %}class="active"{% endif %}><a href="#tab-adverbs" data-toggle="tab">Adverbs</a></li>
          <li {% if active_pos == 'miscs' %}class="active"{% endif %}><a href="#tab-misc" data-toggle="tab">Misc</a></li>
        </ul>
      </div>
    </div>

    <div class="tab-content">

      <div id="tab-nouns" class="tab-pane fade {% if active_pos == 'nouns' %}in active{% endif %}">

        <div class="row">
          <div class="col-md-12">
            <div class="col-md-2">
              <label for="input-noun-add-vocab">Vocab:</label>
              <input id="input-noun-add-vocab" class="form-control" maxlength="16" type="text" placeholder="漢字">
            </div>
            <div class="col-md-3">
              <label for="input-noun-add-phonetic">Phonetic:</label>
              <input id="input-noun-add-phonetic" class="form-control" maxlength="32" type="text" placeholder="かん・じ">
            </div>
            <div class="col-md-3">
              <label for="input-noun-add-english">English:</label>
              <input id="input-noun-add-english" class="form-control" maxlength="32" type="text" placeholder="chinese characters">
            </div>
            <div class="col-md-2">
              <label for="input-noun-add-category">Category:</label>
              <input id="input-noun-add-category" class="form-control" maxlength="32" type="text" placeholder="language">
            </div>
            <div class="col-md-1">
              <label for="btn-noun-add"></label>
              <button id="btn-noun-add" class="btn btn-success" onclick="addNoun()">Add</button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-default" data-toggle="collapse" data-target="#stats-noun">Show stats</button>
            <div id="stats-noun" class="collapse">
              <table class="table table-hover">
                <thead><tr><th>Category</th><th>Count</th></tr></thead>
                <tbody id="table-category-counts-nouns-tbody"></tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <table id="table-nouns" class="table table-vocab" data-toggle="table" data-sort-name="category" data-sort-order="asc" >
              <thead>
              <tr>
                <th data-field="vocab" data-sortable="true" data-cell-style="vocabCellStyle">Vocab</th>
                <th data-field="english" data-sortable="true">English</th>
                <th data-field="category" data-sortable="true">Category</th>
                <th data-field="buttons" data-sortable="false">Actions</th>
              </tr>
              </thead>
              <tbody id="table-nouns-tbody"></tbody>
            </table>
            <div id="div-nouns-modals"></div>
          </div>
        </div>

      </div>

      <div id="tab-verbs" class="tab-pane fade {% if active_pos == 'verbs' %}in active{% endif %}">

        <div class="row">
          <div class="col-md-12">
            <div class="col-md-2">
              <label for="input-verb-add-vocab">Vocab:</label>
              <input id="input-verb-add-vocab" class="form-control" maxlength="16" type="text" placeholder="書く">
            </div>
            <div class="col-md-2">
              <label for="input-verb-add-phonetic">Phonetic:</label>
              <input id="input-verb-add-phonetic" class="form-control" maxlength="32" type="text" placeholder="か・">
            </div>
            <div class="col-md-2">
              <label for="input-verb-add-english">English:</label>
              <input id="input-verb-add-english" class="form-control" maxlength="32" type="text" placeholder="write">
            </div>
            <div class="col-md-2">
              <label for="input-verb-add-category">Category:</label>
              <input id="input-verb-add-category" class="form-control" maxlength="32" type="text" placeholder="language">
            </div>
            <div class="col-md-2">
              <label for="select-verb-add-transitivity">Transitivity:</label>
              <select id="select-verb-add-transitivity" class="form-control">
                <option value="t">t</option>
                <option value="i">i</option>
              </select>
            </div>
            <div class="col-md-2">
              <label for="select-verb-add-jp-type">Type:</label>
              <select id="select-verb-add-jp-type" class="form-control">
                <option value="u">u</option>
                <option value="r">ru</option>
                <option value="e">ex</option>
              </select>
            </div>
            <div class="col-md-1">
              <label for="btn-verb-add"></label>
              <button id="btn-verb-add" class="btn btn-success" onclick="addVerb()">Add</button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-default" data-toggle="collapse" data-target="#stats-verb">Show stats</button>
            <div id="stats-verb" class="collapse">
              <table class="table table-hover">
                <thead><tr><th>Category</th><th>Count</th></tr></thead>
                <tbody id="table-category-counts-verbs-tbody"></tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <table id="table-verbs" class="table table-vocab" data-toggle="table" data-sort-name="category" data-sort-order="asc">
              <thead>
              <tr>
                <th data-field="vocab" data-sortable="true" data-cell-style="vocabCellStyle">Vocab</th>
                <th data-field="english" data-sortable="true">English</th>
                <th data-field="category" data-sortable="true">Category</th>
                <th data-field="transitivity" data-sortable="true">Transitivity</th>
                <th data-field="jp_type" data-sortable="true">Type</th>
                <th data-field="buttons" data-sortable="false">Actions</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
            <div id="div-verbs-modals"></div>
          </div>
        </div>

      </div>

      <div id="tab-adjectives" class="tab-pane fade {% if active_pos == 'adjectives' %}in active{% endif %}">

        <div class="row">
          <div class="col-md-12">
            <div class="col-md-2">
              <label for="input-adjective-add-vocab">Vocab:</label>
              <input id="input-adjective-add-vocab" class="form-control" maxlength="16" type="text" placeholder="楽しい">
            </div>
            <div class="col-md-2">
              <label for="input-adjective-add-phonetic">Phonetic:</label>
              <input id="input-adjective-add-phonetic" class="form-control" maxlength="32" type="text" placeholder="たの・・">
            </div>
            <div class="col-md-3">
              <label for="input-adjective-add-english">English:</label>
              <input id="input-adjective-add-english" class="form-control" maxlength="32" type="text" placeholder="fun">
            </div>
            <div class="col-md-2">
              <label for="input-adjective-add-category">Category:</label>
              <input id="input-adjective-add-category" class="form-control" maxlength="32" type="text" placeholder="emotion">
            </div>
            <div class="col-md-2">
              <label for="select-adjective-add-jp-type">Type:</label>
              <select id="select-adjective-add-jp-type" class="form-control">
                <option value="i">i</option>
                <option value="na">na</option>
              </select>
            </div>
            <div class="col-md-1">
              <label for="btn-adjective-add"></label>
              <button id="btn-adjective-add" class="btn btn-success" onclick="addAdjective()">Add</button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-default" data-toggle="collapse" data-target="#stats-adjective">Show stats</button>
            <div id="stats-adjective" class="collapse">
              <table class="table table-hover">
                <thead><tr><th>Category</th><th>Count</th></tr></thead>
                <tbody id="table-category-counts-adjectives-tbody"></tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <table id="table-adjectives" class="table table-vocab" data-toggle="table" data-sort-name="category" data-sort-order="asc">
              <thead>
              <tr>
                <th data-field="vocab" data-sortable="true" data-cell-style="vocabCellStyle">Vocab</th>
                <th data-field="english" data-sortable="true">English</th>
                <th data-field="category" data-sortable="true">Category</th>
                <th data-field="jp_type" data-sortable="true">Type</th>
                <th data-field="buttons" data-sortable="false">Actions</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
            <div id="div-adjectives-modals"></div>
          </div>
        </div>

      </div>

      <div id="tab-adverbs" class="tab-pane fade {% if active_pos == 'adverbs' %}in active{% endif %}">

        <div class="row">
          <div class="col-md-12">
            <div class="col-md-2">
              <label for="input-adverb-add-vocab">Vocab:</label>
              <input id="input-adverb-add-vocab" class="form-control" maxlength="16" type="text" placeholder="仲良く">
            </div>
            <div class="col-md-3">
              <label for="input-adverb-add-phonetic">Phonetic:</label>
              <input id="input-adverb-add-phonetic" class="form-control" maxlength="32" type="text" placeholder="なか・よ・">
            </div>
            <div class="col-md-3">
              <label for="input-adverb-add-english">English:</label>
              <input id="input-adverb-add-english" class="form-control" maxlength="32" type="text" placeholder="getting along with">
            </div>
            <div class="col-md-2">
              <label for="input-adverb-add-category">Category:</label>
              <input id="input-adverb-add-category" class="form-control" maxlength="32" type="text" placeholder="relationship">
            </div>
            <div class="col-md-1">
              <label for="btn-adverb-add"></label>
              <button id="btn-adverb-add" class="btn btn-success" onclick="addAdverb()">Add</button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-default" data-toggle="collapse" data-target="#stats-adverb">Show stats</button>
            <div id="stats-adverb" class="collapse">
              <table class="table table-hover">
                <thead><tr><th>Category</th><th>Count</th></tr></thead>
                <tbody id="table-category-counts-adverbs-tbody"></tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <table id="table-adverbs" class="table table-vocab" data-toggle="table" data-sort-name="category" data-sort-order="asc">
              <thead>
              <tr>
                <th data-field="vocab" data-sortable="true" data-cell-style="vocabCellStyle">Vocab</th>
                <th data-field="english" data-sortable="true">English</th>
                <th data-field="category" data-sortable="true">Category</th>
                <th data-field="buttons" data-sortable="false">Actions</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
            <div id="div-adverbs-modals"></div>
          </div>
        </div>

      </div>

      <div id="tab-misc" class="tab-pane fade {% if active_pos == 'miscs' %}in active{% endif %}">

        <div class="row">
          <div class="col-md-12">
            <div class="col-md-2">
              <label for="input-misc-add-vocab">Vocab:</label>
              <input id="input-misc-add-vocab" class="form-control" maxlength="16" type="text" placeholder="宇佐美">
            </div>
            <div class="col-md-3">
              <label for="input-misc-add-phonetic">Phonetic:</label>
              <input id="input-misc-add-phonetic" class="form-control" maxlength="32" type="text" placeholder="う・さ・み">
            </div>
            <div class="col-md-3">
              <label for="input-misc-add-english">English:</label>
              <input id="input-misc-add-english" class="form-control" maxlength="32" type="text" placeholder="usami">
            </div>
            <div class="col-md-2">
              <label for="input-misc-add-category">Category:</label>
              <input id="input-misc-add-category" class="form-control" maxlength="32" type="text" placeholder="awesome">
            </div>
            <div class="col-md-1">
              <label for="btn-misc-add"></label>
              <button id="btn-misc-add" class="btn btn-success" onclick="addMisc()">Add</button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-default" data-toggle="collapse" data-target="#stats-misc">Show stats</button>
            <div id="stats-misc" class="collapse">
              <table class="table table-hover">
                <thead><tr><th>Category</th><th>Count</th></tr></thead>
                <tbody id="table-category-counts-miscs-tbody"></tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <table id="table-miscs" class="table table-vocab" data-toggle="table" data-sort-name="category" data-sort-order="asc">
              <thead>
              <tr>
                <th data-field="vocab" data-sortable="true" data-cell-style="vocabCellStyle">Vocab</th>
                <th data-field="english" data-sortable="true">English</th>
                <th data-field="category" data-sortable="true">Category</th>
                <th data-field="buttons" data-sortable="false">Actions</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>

      </div>

    </div>

  </div>

  <div id="collapse-zh" class="collapse">
    <div class="row">
      <div class="col-md-12">
        <p class="lead">Coming soon...</p>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}

  <script>
    $(document).ready(function() {
      var langs = ["jp", "zh"];
      for (var i = 0; i < langs.length; i++) {
        var idDivCollapse = '#collapse-' + langs[i];
        var idBtnCollapse = '#btn-collapse-' + langs[i];
        $(idDivCollapse).on('show.bs.collapse', { btnId: idBtnCollapse }, function(event) {
          $(event.data.btnId).addClass('active');
        });
        $(idDivCollapse).on('hide.bs.collapse', { btnId: idBtnCollapse }, function(event) {
          $(event.data.btnId).removeClass('active');
        });
      }

      initPage();
    });
  </script>

{% endblock %}
